@{
    ViewBag.Title = "Admin Home";
}

<div class="container">
    <div class="col-md-4 text-center">
        <h2>Country</h2>
        <a href="~/Administration/Create/Country" class="btn btn-info">Create new country</a>
    </div>

    <div class="col-md-4 text-center">
        <h2>Player</h2>
        <a href="~/Administration/Create/Player" class="btn btn-info">Create new player</a>
    </div>

    <div class="col-md-4 text-center">
        <h2>Club</h2>
        <a href="~/Administration/Create/Club" class="btn btn-info">Create new club</a>
    </div>
</div>

<div class="container">
    <div class="col-md-4 text-center">
        <h2>Club</h2>
        <a href="~/Administration/Create/Competition" class="btn btn-info">Create new competition</a>
    </div>

    <div class="col-md-4 text-center">
        <h2>Club</h2>
        <a href="~/Administration/Create/Team" class="btn btn-info">Create new team</a>
    </div>
</div>