@{
    ViewBag.Title = "Admin Home";
}

<div class="container">
    <h1>Create</h1>
    <div class="col-md-4 text-center">
        <h2>Country</h2>
        <a href="~/Administration/Create/Country" class="btn btn-info">Create new country</a>
    </div>

    <div class="col-md-4 text-center">
        <h2>Player</h2>
        <a href="~/Administration/Create/Player" class="btn btn-info">Create new player</a>
    </div>

    <div class="col-md-4 text-center">
        <h2>Club</h2>
        <a href="~/Administration/Create/Club" class="btn btn-info">Create new club</a>
    </div>
</div>

<div class="container">
    <h2>Manage</h2>
    <div class="col-md-4 text-center">
        <h2>Countries</h2>
        <a href="~/Administration/Manage/Countries" class="btn btn-info">Manage countries</a>
    </div>

    <div class="col-md-4 text-center">
        <h2>Team</h2>
        <a href="~/Administration/Manage/Players" class="btn btn-info">Manage players</a>
    </div>
</div>