@model CornerFlag.Web.Models.PostCommentViewModel
@using (Ajax.BeginForm("PostComment", "Comment",
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.InsertAfter,
            UpdateTargetId = "comments-div"
        }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.PlayerId)
    @Html.EditorFor(m => m.Content)

    <div class="col-md-3">
        <input type="submit" class="btn btn-default" />
    </div>
}