@model string
<div class="jumbotron">
    <h2>@Model</h2>
    <div class="btn-group pull-right">
        <a href="~/Teams/@Model" class="btn btn-info large-text">General</a>
        <a href="~/Teams/@Model/Fixtures" class="btn btn-info large-text">Fixtures</a>
        <a href="~/Teams/@Model/Players" class="btn btn-info large-text">Players</a>
    </div>
</div>
