@{
    ViewBag.Title = "Fixtures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/kendo")
}

@model CornerFlag.Web.Models.FixturesViewModel

@Html.Partial("_TeamMenu", Model.TeamName)
<div class="container">
    @Html.Kendo().Calendar().Name("Calendar")
</div>

@section scripts {
    @Scripts.Render("~/bundles/kendo")
}