@{
    ViewBag.Title = "Fixtures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CornerFlag.Web.Models.FixturesViewModel

@Html.Partial("_TeamMenu", Model.TeamName)
<div class="container">
    @* Kendo Grid here *@
</div>