@{
    ViewBag.Title = "Leagues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<IGrouping<string, XMLSoccerCOM.League>>
<h2>All Leagues</h2>
<div class="container">
    @foreach (var group in Model)
    {
        <div>
            <h3>@group.First().Country</h3>
            <ul class="list-group nav">
                @foreach (var league in group)
                {                    
                    <li class="list-group-item text-center">
                        @Html.ActionLink(linkText: league.Name,
                                actionName: "Details",
                                controllerName: "League",
                                routeValues: new
                                {
                                    id = league.Name
                                },
                                htmlAttributes: null)

                    </li>
                }
            </ul>
        </div>        
    }    
</div>