@model XMLSoccerCOM.Player

<div class="jumbotron">
    <h2>@Model.Name</h2>
    <div class="btn-group pull-right">
        <a href="~/Players/@Model.Id" class="btn btn-info large-text">Profile</a>
        <a href="~/Players/@Model.Id/Stats" class="btn btn-info large-text">Stats</a>
    </div>
</div>