@using CornerFlag.Web.Models
@{
    ViewBag.Title = "Home Page";
}

@model HomeViewModel

<div class="container">
    <div class="col-md-4">
        <h2>Competitions</h2>
        <ul class="list-group">
            @foreach (var competition in Model.Competitions)
            {
                <li class="list-group-item">@competition.Name</li>
            }
        </ul>
    </div>
    
    <div class="col-md-4">
        <h2>Clubs</h2>
        <ul class="list-group">
            @foreach (var club in Model.Clubs)
            {
                <li class="list-group-item">@club.Name</li>
            }
        </ul>
    </div>
</div>