@using CornerFlag.Web.Models
@{
    ViewBag.Title = "Corner Flag";
}

@model HomeViewModel

<div class="container">
    <div class="col-md-4 text-center">
        <h2>Competitions</h2>
        <p>Entries Count: @Model.Competitions.Count()</p>
        <a href="~/Competitions" class="btn btn-info">Go to Competitions</a>
    </div>
    
    <div class="col-md-4 text-center">
        <h2>Clubs</h2>
        <p>Entries Count: @Model.Clubs.Count()</p>
        <a href="~/Clubs" class="btn btn-info">Go to Clubs</a>
    </div>

    <div class="col-md-4 text-center">
        <h2>Teams</h2>
        <p>Entries Count: @Model.Teams.Count()</p>
        <a href="~/Teams" class="btn btn-info">Go to Teams</a>
    </div>
</div>