@using CornerFlag.Web.Models
@{
    ViewBag.Title = "Home Page";
}

@model HomeViewModel

<div class="container">
    <div class="col-md-4 text-center">
        <h2>Competitions</h2>
        <p>Entries Count: @Model.Competitions.Count()</p>
        <a href="~/competitions" class="btn btn-info">Go to Competitions</a>
    </div>
    
    <div class="col-md-4 text-center">
        <h2>Clubs</h2>
        <p>Entries Count: @Model.Clubs.Count()</p>
        <a href="~/clubs" class="btn btn-info">Go to Clubs</a>
    </div>

    <div class="col-md-4 text-center">
        <h2>Players</h2>
        <p>Entries Count: @Model.Players.Count()</p>
        <a href="~/clubs" class="btn btn-info">Go to Players</a>
    </div>
</div>