@using CornerFlag.Data.Models.Entities
@model Competition

<li class="list-group-item">
    <h2>
        @Model.Name<a href="~/Competitions/@Model.Id/Details" class="btn btn-info">Details</a>
    </h2>
</li>