@using CornerFlag.Data.Models.Entities
@model IQueryable<Competition>
@{
    ViewBag.Title = "Competitions";
    Layout = "~/Views/Competitions/_Layout.cshtml";
}

<h1>Competitions</h1>
<div class="container">
    @foreach (var country in Model.GroupBy(c => c.Country))
    {
        <h2>@country.First().Country.Name</h2>
        <ul class="list-group">
            @foreach (var comp in country)
            {
                    Html.RenderPartial("_CompetitionListItem", comp);
            }
        </ul>
    }
</div>