@using CornerFlag.Data.Models.Entities
@model IQueryable<Competition>
@{
    ViewBag.Title = "Competitions";
    Layout = "~/Views/Competitions/_Layout.cshtml";
}

<h1>Competitions</h1>
<div class="container">
    @foreach (var country in Model.GroupBy(c => c.Country))
    {
        <h2>@country.First().Country.Name</h2>
        <ul class="list-group">
            @foreach (var comp in country)
            {
                <li class="list-group-item">
                    <h2>@comp.Name</h2>
                    <a href="~/league/@comp.Id" class="btn btn-info">Details</a>
                </li>
            }
        </ul>
    }
</div>