
@{
    ViewBag.Title = "_AdminLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Administration area</h1>
    @RenderBody()
</div>

@section scripts{

    @Scripts.Render("~/bundles/kendo")
@RenderSection("scripts", required: false)
   
}

